BOT_PORT=8000
DB_PORT=5432
DB_DIR=db_nomic

CSV_DATA_DIR=data
QA_ORIGINAL_FILE=exportjson_withguid_small.json
QUESTION_ALTERED_FILE=question_altered_small.csv
CATEGORY_FILE=category.csv

MODEL_EMBEDDING=text-embedding-nomic-embed-text-v1.5@q8_0
LMSTUDIO_EMBEDDING_URL=http://host.docker.internal:1234/v1/embeddings

MODEL_CHAT=google/gemma-4-e4b
LMSTUDIO_CHAT_URL=http://host.docker.internal:1234/v1/chat/completions

EVAL_QUERIES_CSV=eval_queries.csv